<div class="jumbotron">
  <% if user_signed_in? %>
    <div class="container">
      <h1>Welcome back, <%= current_user.email %></h1>
      <p class="lead">
        This website was made so that users can track items that they have loaned out to others.<br/>
        If this is your first time here, please begin by making a new Category. After that you can add Items and Borrowers.
      </p>
      <div class="btn-grp">
        <%= link_to 'View Items', categories_path, :class=> "btn btn-primary btn-lg", :role=> "button" %>
        <%= link_to 'New Item', new_item_path, :class=> "btn btn-primary btn-lg", :role=> "button" %>
        <%= link_to 'New Category', new_category_path, :class=> "btn btn-primary btn-lg", :role=> "button" %>
        <%= link_to 'New Borrower', new_borrower_path, :class=> "btn btn-primary btn-lg", :role=> "button" %>
      </div>
    </div>
  <% else %>
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access Loaner
    </p>
    <div class="btn-grp">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
    </div>
  <% end %>
</div>