
<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
        <%= f.label :category_id %><br>
        <div class="input-group">
          <%= f.collection_select(:category_id, current_user.categories, :id, :name, {}, {:class => "form-control"}) %>
          <span class="input-group-btn">
            <%= link_to 'New Category', new_category_path, :class => "btn btn-default" %>
          </span>
        </div>
    </div>
  </div>
  <%= f.hidden_field :user_id, :value => @user.id %>

  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
