
<%= form_for @item, :html => {:class => "form-vertical center"} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
        <%= f.label :category_id %><br>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {:class => "form-control"}) %>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-default" %>
<% end %>
