<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <%= link_to 'Edit', edit_item_path(@item), :class=> "btn btn-primary btn-lg" %>
  <%= link_to 'Back', categories_path, :class=> "btn btn-primary btn-lg" %>
</p>
</div>
