<!DOCTYPE html>
<html>
<head>
  <title>Loaner</title>
  <meta name="author" content="Ethan Hayes, Devon Winkler">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        
      <div class="navbar-header pull-left">     
        <a class="navbar-brand" href="/">Loaner</a>
      </div>
      <div class="navbar-header pull-right">
         <button type="button" class="navbar-toggle" 
                data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <% if user_signed_in? %>
          <p class="navbar-text"}>Signed in as <strong><%= current_user.email %></strong></p>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
          </ul>
        <% end %>
      </div>
        
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to 'Items', categories_path %></li>
            <li><%= link_to 'New Category', new_category_path %></li>
            <li><%= link_to 'New Item', new_item_path %></li>
            <li><%= link_to 'New Borrower', new_borrower_path %></li>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path  %></li>
            <li><%= link_to "Login", new_user_session_path  %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= yield %>

</body>
</html>
